body {
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Gloria Hallelujah', cursive;
}


.wrapper {
    width: 1024px;
    margin: 0 auto;
}


/*-----------------------------TABS STYLING*/
.tabs {
    width: 400px;
    display: flex;
    justify-content: space-between;
    color: #2A2D34;
}


.tabs-item-selected {
    display: block;
  }

  .tabs-item {
    display: none;
}

  .tabs-link-selected {
    z-index: 2;
    border-right: 1px solid #931d25;
    color: white;
  }


/*-----------------------------GRID STYLING*/
 /*-----------------------------COLOR OPTIONS STYLING*/
 
 .grid-container {
     width: 1024px;
     margin: 0 auto;
 }
 
 .color-options {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    color: #2A2D34;
    padding: 10px;
}

.box {
    background-color: #2A2D34;
    height: .75vw;
    width: .75vw;
    border-radius: .75vw;
    display: inline-block;
    margin: 0.03vw;
  }



/*---------------------------TEXT BOX STYLES*/
#grid-text-input {
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

#text-box {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid #1AC8ED;
    text-align: center;
}

#submit-button {
    width: 80px;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}


/*---------------------------MEME FORM STYLES*/

.meme-radio-choice {
    display: flex;
    justify-content: space-between;
}

img {
    width: 200px;
    height: 200px;
}







 
/*
.tabs {
  width: 100%;
}
.tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
}
.tabs .tabs-item {
  display: none;
  width: 75%;
}
.tabs .tabs-item .tabs-item-title {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
}
.tabs .tabs-item-selected {
  display: block;
}
.tabs .tabs-links {
  display: flex;
  background-color: #931d25;
}
.tabs .tabs-link {
  padding: 20px 25px;
  font-size: 24px;
  background-color: #931d25;
  border-right: 1px solid white;
  color: #ffffff;
  cursor: pointer;
}
.tabs .tabs-link:hover {
  background-color: #be2530;
}
.tabs .tabs-link-selected {
  z-index: 2;
  border-right: 1px solid #931d25;
  background-color: #ffffff;
  color: black;
}
.tabs .tabs-link-selected:hover {
  background-color: #ffffff;
}
*/