body {
    background-color: black; 
}

.wrapper {
    width: 1024px;
    margin: 0 auto;
}

.tabs {
    width: 400px;
    display: flex;
    justify-content: space-between;
    color: #2A2D34;
}

.tabs h3 {
    padding-right: 20px;
}

.color-options {
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    color: #2A2D34;
    padding: 10px;
}

.box {
    background-color: #2A2D34;
    height: .6vw;
    width: .6vw;
    border-radius: .6vw;
    display: inline-block;
    margin: 0.03vw;
  }

  .tabs-link-selected {
      display: none;
  }